.container {
    width: 1170px !important;
    max-width: none !important;
}
.pointer {line-height: 45px; height: 45px; color: #ffffff;
    position: relative; text-align: center; font-weight: bold; font-size: 24px;
}
.pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 23px solid white;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
}
.pointer:before {
    content: "";
    position: absolute;
    right: -22px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 22px solid red;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}






*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    width: 100%;
    min-width: 1300px;
    font-family: '微软雅黑';
    font-size: 15px;
    color: #333;
    background: #f1f2f3;
}
a {
    color: #333;
}
img {
    vertical-align: top;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
.pic {
    position: relative;
    width: 100%;
    height: auto;
}
.pic img {
    width: 100%;
}
.center {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.top {
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #c3c2c3;
}
.top span {
    font-family: "宋体";
    color: #fff;
    background: #06ab8f;
    padding: 3px 5px;
    border-radius: 5px;
}

.logo {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}
.logo a img {
    padding-right: 15px;
    border-right: 1px solid #ccc;
}
.logo .tel {
    padding-left: 70px;
    background: url(../images/tel.png) no-repeat left center;
}
.logo .tel p {
    font-family: '黑体';
    font-weight: bold;
    font-size: 18px;
    color: #fc6500;
    padding-top: 8px;
}
.logo .tel p:last-child {
    color: #000;
    font-size: 35px;
    padding: 0;
}

nav {
    width: 100%;
    height: 66px;
    background: #06ab8f;
}
nav .fl {
    position: relative;
    width: 275px;
    height: 66px;
}
nav .fl h3 {
    padding-left: 55px;
    line-height: 66px;
    font-family: '黑体';
    font-weight: normal;
    color: #fff;
    font-size: 22px;
}
nav .fl:before {
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    margin: auto;
    content: '';
    width: 34px;
    height: 34px;
    background: url(../images/home_14.png) no-repeat;
}
nav .fl:after {
    position: absolute;
    top: 10px;
    right: 35px;
    content: 'HOT';
    font-size: 12px;
    color: #fff;
    padding: 0 8px;
    background: #fc6500;
    border-radius: 10px;
}
nav .fr {
    width: 925px;
    height: 66px;
    line-height: 66px;
}
nav .fr a {
    font-size: 18px;
    color: #fff;
    padding-right: 15px;
}
nav .fr a:hover {
    text-decoration: underline;
}

.banner {
    margin-top: 5px;
}
.banner .fl {
    width: 275px;
    height: auto;
    background: #12a0ff;
    padding: 20px 10px;
    box-sizing: border-box;
}
.banner .fl li+li {
    margin-top: 27px;
}
.banner .fl li div {
    display: flex;
    justify-content: space-between;
}
.banner .fl li .b-title {
    height: 24px;
}
.banner .fl li .b-title h3 {
    height: 24px;
    line-height: 24px;
    font-weight: normal;
    font-size: 17px;
    color: #fff;
    padding-left: 28px;
    background: url(../images/home_21.png) no-repeat left center;
}
.banner .fl li .b-title span {
    font-size: 13px;
    height: 24px;
    line-height: 28px;
}
.banner .fl li .b-title  i {
    font-style: normal;
}
.banner .fl li .b-title span {
    color: #fff;
}
.banner .fl li .b-link {
    margin-top: 8px;
    padding: 3px 10px;
    border-radius: 5px;
    color: #fc6500;
    background: #fff;
}
.banner .fl li .b-link span {
    color: #06ab8f;
}
.banner .fl li .b-link a {
    color: #fc6500;
    font-size: 14px;
}
.banner .fl li .b-link a:hover {
    text-decoration: underline;
}
.banner .fr {
    width: 915px;
}
.banner .b-cont{
    width: 100%;
    height: 357px;
    position: relative;
    overflow: hidden;
}
.banner .b-cont .picture li{
    display: none;
}
.banner .b-cont img{
    width: 100%;
}
.banner .b-cont .butt{
    width: 124px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
}
.banner .b-cont .butt li{
    width: 25px;
    height: 8px;
    border-radius: 15px;
    background: #fe976a;
    float: left;
    margin-left: 8px;
    cursor: pointer;
    opacity: 0.3;
}
.banner .b-cont .butt li:first-child{
    margin-left: 0;
}
.banner .four-link {
    display: flex;
    justify-content: space-between;
}
.banner .four-link li {
    width: 24%;
    height: 71px;
    line-height: 71px;
    background: #c3c2c3;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    transition: .2s;
}
.banner .four-link li p {
    font-size: 20px;
    color: #000;
    transition: .2s;
    margin-top: 20px;
}
.banner .four-link li img {
    margin: 0px 5px 0 0;
    transition: .2s;
}
.banner .four-link li:hover {
    background: #12a0ff;
}
.banner .four-link li:hover p {
    color: #fff;
}
.banner .four-link li:hover img {
    margin-top: -71px;
}


.choose {
    padding: 5px 0 15px;
    background: #fff;
    margin-top: 15px;
}
.choose .cont {
    display: flex;
    justify-content: space-between;
    height: auto;
}
.choose .cont>ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 49.5%;
}
.choose .cont .text li {
    width: 49%;
    height: auto;
    text-align: center;
    background: #f3f3f3;
    line-height: 25px;
    margin-top: 10px;
}
.choose .cont .text li img {
    width: 100%;
}
.choose .cont .text li p:nth-child(2) {
    padding-top: 10px;
}
.choose .cont .text li p:last-child {
    padding-bottom: 10px;
}
.choose .cont .text li p:first-child {
    margin-bottom: 8px;
    font-size: 18px;
}
.choose .cont .text li:nth-child(3) {
    padding: 15px 0;
    background: #06ab8f;
    color: #fff;
}
.choose .cont .text li:nth-child(4) {
    padding: 15px 0;
    background: #06ab8f;
    color: #fff;
}
.choose .cont .text li a {
    padding: 2px 10px;
    background: #fff;
    color: #06ab8f;
    border-radius: 5px;
}
.choose .cont .picture {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.choose .cont .picture li {
    width: 49%;
    height: 187.5px;
    overflow: hidden;
}
.choose .cont .picture li+li {
    margin-top: 10px;
}
.choose .cont .picture li:nth-child(2) {
    margin-top: 0;
}
.choose .cont .picture li img {
    width: 100%;
}
.choose .cont .picture p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 28px;
    color: #06ab8f;
    background: #fff;
}
.choose .pic a {
    display: block;
    position: absolute;
    left: 230px;
    bottom: 20px;
    width: 230px;
    height: 56px;
}

.soon-sign {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    background: #e22a2c;
    padding: 0 30px; 
    box-sizing: border-box;
}
.soon-sign form {
    width: 56%;
}
.soon-sign form p {
    padding: 15px 0;
    font-size: 22px;
    color: #fff;
}
.soon-sign form label {
    color: #fff;
}
.soon-sign form input {
    height: 22px;
    border: none;
    outline: none;
    padding-left: 8px;
    margin-right: 5px;
    box-sizing: border-box;
}
.soon-sign form button {
    border: none;
    font-size: 16px;
    color: #e22a2c;
    background: #feeb2f;
    height: 25px;
    padding: 0 18px;
    cursor: pointer;
}

.plan {
    margin-bottom: 10px;
}
.plan h3 {
    font-size: 28px;
    color: #010101;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px dashed #333;
}
.plan h3 span {
    color: #004e90;
}
.plan .cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.plan .cont table {
    width: 49%;
    height: auto;
    margin-top: 15px;
}
.plan .cont table thead tr {
    height: 50px;
    color: #fff;
    background: #fca125;
}
.plan .cont table thead tr th {
    font-size: 16px;
}
.plan .cont table tbody{
    background: #fef2e8;
}
.plan .cont table tbody tr {
    height: 45px;
}
.plan .cont table tbody tr td {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #fca125;
}
.plan .cont table tbody tr td:first-child {
    font-weight: bold;
    color: #1a1a1a;
    background: #fbdebe;
}
.plan .cont table tbody tr td span {
    color: #f94400;
    font-weight: bold;
}
.plan .cont table tbody tr td a {
    padding: 3px 10px;
    background: #fbdebe;
}
.plan .cont table tbody tr td a:hover {
    text-decoration: underline;
}
.plan .cont table tbody tr td i {
    position: absolute;
    height: 20px;
    border-radius: 5px;
    font-style: normal;
    padding: 0 3px 0 2px;
    font-size: 14px;
    color: #fff;
    background: #ff0000;
}
.plan .cont table tbody tr td i:after {
    position: absolute;
    right: 4px;
    bottom: -5px;
    content: '';
    width: 0;
    height: 0;
    border-width: 5px 4px 0 4px; 
    border-style: solid; 
    border-color:  #ff0000 transparent transparent transparent;
}
.plan .pic a {
    position: absolute;
    top: 6.5%;
    right: 13.5%;
    width: 85px;
    height: 85px;
}


.title {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 40px;
    line-height: 40px;
    margin: 20px auto 15px;
    border-bottom: 1px dashed #737474;
}
.title h3 {
    font-family: '黑体';
    font-weight: normal;
    font-size: 25px;
    color: #000;
    padding-left: 55px;
    background: url(../images/home_56.png) no-repeat left center;
}
.title h3 span {
    font-family: '微软雅黑';
    font-size: 15px;
    color: #b3b1b1;
}
.title a {
    position: relative;
    height: 40px;
    line-height: 48px;
    font-size: 14px;
    color: #000;
    padding-right: 40px;
}
.title a:after {
    position: absolute;
    top: 13px;
    right: 0;
    content: '';
    width: 35px;
    height: 20px;
    background: #d4d3d2 url(../images/title.png) no-repeat center;
}
.title a:hover {
    text-decoration: underline;
}

.major .cont {
    background: #fff;
    padding: 5px 0 20px;
}
.major ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.major ul li {
    width: 24%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 15px;
    transition: .5s;
}
.major ul li:hover {
    box-shadow: 0 5px 10px #efe8e8;
}
.major ul li .picture {
    position: relative;
    width: 100%;
    height: 189px;
    overflow: hidden;
}
.major ul li .picture span {
    position: absolute;
    left: 0;
    top: 15px;
    padding: 5px 10px;
    font-family: '宋体';
    font-size: 14px;
    color: #fff;
    background: rgba(66,66,66,.3);
}
.major ul li .picture img {
    width: 100%;
}
.major ul li .picture .more {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 189px;
    border-radius: 50%;
    background: rgba(0, 0,0, .5);
    visibility: hidden;
    transform: scale(0);
}
.major ul li .picture .more a {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 4px solid #fff;
    margin: 48px auto auto;
}
.major ul li .picture:hover .more {
    visibility: visible;
    border-radius: 0;
    transform: scale(1);
}
.major ul li .text {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 15px;
    border: 1px solid #efe8e8;
    border-radius: 0 0 5px 5px;
}
.major ul li .text h3 {
    font-size: 15px;
    color: #000;
    padding-bottom: 10px;
}
.major ul li .text h3 span {
    color: #ff0000;
    float: right;
}

.pictures .cont{
    padding: 20px 0;
    background: #fff;
}
.pictures .cont .s-title span{
    padding: 2px 8px;
    border: 1px solid #dddddd;
    color: #555555;
    border-radius: 12px;
    cursor: pointer;
}
.pictures .cont .s-title a:last-child{
    float: right;
    padding: 2px 8px;
    border: 1px solid #dddddd;
    color: #555555;
    border-radius: 12px;
}
.pictures .cont .s-title span:hover{
    border: 1px solid #00b6ff;
    background: #00b6ff;
    color: #FFF;
}
.pictures .cont ul{
    margin: 10px auto;
}
.pictures .cont ul li{
    width: 24.25%;
    height: auto;
    float: left;
    margin: 10px 0 0 1%;
}
.pictures .cont ul li:first-child{
    margin-left: 0;
}
.pictures .cont ul li:nth-child(5){
    margin-left: 0;
}
.pictures .cont ul li img{
    width: 100%;
}
.pictures .cont .pic{
    width: 98%;
    margin: 0 auto;
}
.pictures .more{
    border: 1px solid #8a8687;
    color: #000;
    display: block;
    width: 150px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.work-title{
    height: 35px;
    line-height: 35px;
    margin: 10px 0;
    position: relative;
    margin-top: 25px;
}
.work-title h3{
    font-weight: normal;
    font-size: 25px;
    color: #dd514c;
    float: left;
    background: #f1f2f3;
}
.work-title p{
    display: inline-block;
    color: #0073c3;
}
.work-title span{
    float: left;
    color: #999;
    height: 35px;
    line-height: 38px;
    padding: 0 5px ;
    background: #f1f2f3;
}
.work-title a{
    float: right;
    color: #999;
    background: #f1f2f3;
    padding-left: 5px;
}
.work-title .line{
    width: 100%;
    height: 1px;
    background: #9a9b9b;
    position: absolute;
    left: 0;
    top: 18px;
    z-index: -1;
}

footer {
    margin-top: 15px;
}
footer .footer-link {
    background: #194c81;
    padding: 20px 0;
    text-align: center;
}
footer .footer-link p {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
}
footer .footer-link p a {
    font-size: 18px;
    color: #fff;
}
footer .footer-link p a:hover {
    text-decoration: underline;
}
footer .footer-link img {
    margin-top: 20px;
}
footer .footer-info {
    text-align: center;
    padding: 15px 0;
    line-height: 25px;
    font-size: 14px;
    padding-top: 60px;
    background-size: 60px;
}
footer .footer-info span {
    padding-right: 10px;
}


.main {
    margin-top: 15px;
}
.main .left{
    float: left;
    width: 265px;
    background: #e9e9e9;
}
.main .right{ 
    float:right;
    width:920px;
    background:#fff;
}
.lx {
    width: 245px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 0 auto;
}
.content{ width:1200px; display:block; margin:0 auto;}
/*--- left-daohang ---*/
.left_dh{ width:265px;background:#e9e9e9; margin:1px auto 0px auto;overflow:hidden; background-image:url(../images/zhixun.png)}
.left_dh_bt{ width:265px; height:44px; background:#4979AE url() no-repeat 236px -1335px; margin-top:0px; }
.left_dh_bt p{width:265px; height:44px; padding-left:20px;letter-spacing:1.5px; line-height:44px; color:#FFF;font-family:"微软雅黑"; font-size:18px;font-weight:bold;}
.left_dh_bt p a{color:#fff;}
.left_efl_dh{ width:230px;margin:15px auto;overflow:hidden;}
.left_efl_dh ul{ width:230px; margin:0 auto;overflow:hidden;}
.left_efl_dh ul li{ width:230px; height:53px; list-style:none; margin-bottom:10px; font-family:"微软雅黑"; font-size:16px; text-align:center; }
.left_efl_dh ul li a{ width:230px; height:53px; color:#015086; letter-spacing:1.5px; line-height:45px; background:url() no-repeat 6px -1222px; display:inline-table;}
.left_efl_dh ul li a:hover{ width:230px; height:53px; background:url() no-repeat 6px -1285px; color:#fff; letter-spacing:1.5px; line-height:45px; display:inline-table;}
.left_efl_fg{ width:265px; height:17px; background:url() no-repeat center -1180px; margin:0 auto;}
.left_wb{ width:265px; height:90px; background:url() no-repeat center -1355px; position:relative;}
.left_wb a{width:92px; height:30px; position:absolute; top:30px; left:85px;}
/*--- left-lianxiwm ---*/
.lx{ width:245px; margin:0 auto; position:relative;overflow:hidden;z-index:1;margin:0 auto;}
.lx ul.tb{background:url(../images/baoming.png);width:245px;height:72px;overflow:hidden;clear:both;margin:10px 0 0 0;border-bottom:1px dashed #999;}
.lx ul.tb li{float:left;display:inline;width:78px;height:63px;overflow:hidden;}
.lx ul.tb li a{display:block;width:78px;height:63px;}
.lx ul.tb li.bm{background:url() no-repeat -128px -272px;}
.lx ul.tb li.cc{background:url() no-repeat -128px -362px;margin-left:5px;}
.lx ul.tb li.kj{background:url() no-repeat -128px -452px;margin-left:5px;}
.lx ul.tel{width:245px;height:68px;border-bottom:1px dashed #999;margin:15px 0 0 0;overflow:hidden;clear:both;background:url(../images/telpc.png) no-repeat 0 -0px;background-size: 21%;}
.lx ul.tel li.dh{line-height:22px;height:22px;font-size:16px;font-family:"微软雅黑"; font-weight:bold;color:#757474;clear:both;margin-left:58px;}
.lx ul.tel li.tx{line-height:32px;height:32px;font-size:24px;font-family:"微软雅黑"; font-weight:bold;color:#1688C9;clear:both;margin-left:58px;}
.lx ul.ol{background:url(../images/xuefei.png);width:245px;height:60px;border-bottom:1px dashed #999;overflow:hidden;clear:both;margin:5px 0 0 0;}
.lx ul.ol li.ly{float:left;display:inline;width:120px;height:52px;overflow:hidden;background:url() no-repeat 0 -902px;}
.lx ul.ol li.qq{float:left;display:inline;width:114px;height:52px;overflow:hidden;background:url() no-repeat 0 -971px;margin-left:10px;}
.lx ul.ol li.qq a{display:block;width:114px;height:52px;}
.lx ul.ol li.ly a{display:block;width:120px;height:52px;}

.lx a.a1{ width:265px; height:75px; position:absolute; top:10px; left:0px;}
.lx a.a2{ width:265px; height:70px; position:absolute; top:106px; left:0px;}
.lx a.a3{ width:76px; height:65px; position:absolute; top:203px; left:10px;}
.lx a.a4{ width:76px; height:65px; position:absolute; top:203px; left:93px;}
.lx a.a5{ width:76px; height:65px; position:absolute; top:203px; left:177px;}
.call {height:40px; overflow:hidden; width:265px; margin:15px auto 5px auto;}
.call .fript{font-size:14px; height:28px; line-height:26px;width:140px; margin-left:15px;margin-right:0;font-family:"微软雅黑";}
.call .frbtn{background:rgb(51,153,204); width:80px; height:32px;line-height:32px; border:none;color:white;font-family:"微软雅黑"; font-size:14px; font-weight:bold;letter-spacing:1.5px;cursor:pointer;margin-left:5px;}

/*--- left-xiangguannews ---*/
.xg_new{ width:265px; overflow:hidden;margin:0 auto; background:#f2f2f2;}
.xg_new_bt{ width:265px; height:44px; background:#76b8d8 url() no-repeat 236px -1335px;}
.xg_new_bt p{width:265px; height:44px; padding-left:20px; letter-spacing:1.5px; line-height:44px; color:#fff; font-family:"微软雅黑"; font-size:18px;font-weight:bold;}
.xg_new .xwlb{width:255px; margin:8px auto 0 auto;overflow:hidden;}
.xwlb p{padding:0 0 1px;height:36px;line-height:36px;border-bottom:1px dotted #dfdfdf;}
.xwlb p span{float:right; color:#999; font-size:12px;margin-right:5px;}
.xwlb p:hover{background:#f0f0f0;}
.xwlb p a{display:block; height:36px; line-height:36px; cursor:pointer;background:url() no-repeat 2px -951px;padding-left:20px;}
.xwlb p a:hover{text-decoration:none;}
.xwlb p.bn{border:none;}

/*--- right-neirong ---*/
.lm_bt{width:100%;height:47px; border-bottom:1px solid #dadada; margin:0 auto; font-family:"微软雅黑"; letter-spacing:1.5px; line-height:47px;overflow:hidden;}
.lm_bt p{height:47px; font-size:18px; font-weight:bold;color:#363636;margin-left:15px;}
.lm_bt span{font-size:12px; color:#F00;line-height:55px; float:right; text-align:right;font-weight:normal;margin-top:15px;}
.lm_bt span a{ background:#999999; border-radius:9px; display:inline; -moz-border-radius:9px;/* Old Firefox */ color:#ffffff; float:left; font-family:"\5B8B\4F53", Arial; font-size:12px; height:22px; line-height:22px; margin:0 4px; overflow:hidden; padding:0 10px; text-align:center;}
.lm_bt span a{ line-height:20px;}
.lm_bt span a:hover{ background:#cc0000; color:#ffffff; text-decoration:none;}

.right_banner{ width:935px; height:auto; margin:0 auto;overflow:hidden;}
.right_top{ width: 922px; overflow:hidden; margin:0 auto 0;background:#dfdfdf;}
.right_top p{margin-left:15px;color:#505050; line-height:32px;height:32px; font-family:"微软雅黑"; font-size:12px; letter-spacing:1.5px; }
.right_nr{width: 898px; min-height: 669px;padding: 0 10px 10px 10px;margin:15px 0 0 0;background:#fafafa;border:1px solid #dfdfdf;overflow:hidden;}
.right_nr_bt{ margin: 8px auto 10px; border-bottom:1px #b7b7b7 dashed; overflow:hidden;}
.right_nr_bt h1{ font-size:24px;  height:39px; margin-top:20px;font-family:"微软雅黑"; letter-spacing:1.5px; color:#333; text-align:center;line-height:32px;}
.right_nr_bt p{ font-size:12px; color:#4c4c4c;font-family: "宋体"; margin-bottom:5px;text-align:center;line-height:22px;}
.right_nr_bt p span{margin-right:10px;}
.right_nr_xw{ width:880px; height:auto; margin:25px auto 0; font-family: "宋体"; font-size:14px; color:#333; letter-spacing:1px; line-height:30px; text-align:left;padding-bottom:15px; overflow:hidden;}
.right_nr_xw div{width:95%;}
.right_nr_xw img{ margin:0 5px 0 auto;}
.right_nr img{display: inline-block;}

/*--- right-xinwen-tongyong ---*/
.ty_new{ width:918px;margin:0 auto 0 0px; font-family:"微软雅黑";background:#f2f2f2;border-top:none;overflow:hidden;clear:both;}
.ty_new_zx{ width:880px; height:46px;line-height:46px; margin:0 auto; font-size:16px; letter-spacing:1.5px;overflow:hidden;text-align:center;}
.ty_new_zx a{ color:#F00;}

.ty_new_sx{ width:880px; height:43px; border-bottom:1px #b8b8b8 dashed; border-top:1px #b8b8b8 dashed; font-family:"微软雅黑"; font-size:14px; letter-spacing:1px; line-height:43px;margin:0 auto;overflow:hidden;}
.ty_new_sx_left{ float:left; width:420px; height:43px; margin-left:0px; text-align:left;}
.ty_new_sx_right{ float:right; width:430px; height:43px; margin-left:25px; text-align:left;}
.ty_new_sx a{ color:#113355;}

.ty_new_bottom{ width:880px; overflow:hidden; margin:0 auto;letter-spacing:1.5px;; font-family:"微软雅黑"; line-height:46px;}
.ty_new_bottom_fx{ width:420px; float:left; font-size:14px; padding-top:5px;}
.ty_new_bottom_xg{ width:430px; float:left; line-height:46px;margin-left:30px;}

/*文字列表*/
.list_wz{ width:880px; overflow:hidden;margin:10px auto; font-family:"微软雅黑"; letter-spacing:1px;clear:both;}
.list_wz p{line-height:36px;border-bottom:1px dashed #dfdfdf;overflow:hidden;}
.list_wz p span{float:right; color:#999; font-size:12px;margin-right:5px;}
.list_wz p:hover{background:#f0f0f0;}
.list_wz p a{display:block;float:left; height:36px; line-height:36px; cursor:pointer;background:url() no-repeat 2px -951px;padding-left:20px;}
.list_wz p a:hover{text-decoration:none;}


/*图片列表*/
.list_tu{ width:880px; overflow:hidden;margin:15px auto; font-family:"微软雅黑"; letter-spacing:1px;clear:both;}
.list_tu .ltu{display:inline;float:left;width:200px;margin:10px 10px 10px 10px;overflow:hidden;}
.list_tu .ltu .img{width:198px;height:148px;overflow:hidden;border:1px solid #dfdfdf;}
.list_tu .ltu .img img{width:180px;height:130px;padding:8px;}
.list_tu .ltu p{line-height:26px;text-align:center;}
.pgtu{width:860px;clear:both;border-top:1px solid #dfdfdf;padding:20px 0 10px;margin:15px auto;overflow:hidden;}

/*图文列表*/
.list_tw{ width:880px; overflow:hidden;margin:10px auto; font-family:"微软雅黑"; letter-spacing:1px;clear:both;}
.list_tw ul{ overflow:hidden; zoom:1; border-bottom:1px dashed #999; padding:15px 0px 10px 0px; width:880px;}
.list_tw li.img{display:inline;float:left;width:210px;overflow:hidden;}
.list_tw li.img img{display:block; border:1px solid #ccc; padding:1px;}
.list_tw li.txt{display:inline; float:right; width:660px;overflow:hidden;}
.list_tw li.txt .ltop,.list_tw li.txt .lcont,.list_tw li.txt .lbot{width:660px;overflow:hidden; zoom:1; line-height:25px;clear:both;}
.list_tw li.txt .ltop p{ font-size:16px; color:#333; font-weight:bold;}
.list_tw li.txt .lcont p{line-height:24px; color:#666666; font-family:"微软雅黑"; font-size:14px;}
.list_tw li.txt .lbot{ padding-top:10px;}
.list_tw li.txt .lbot .qb{ display:block;font-weight:bold; float:left;line-height:24px;}
.list_tw li.txt .lbot .qb a{ color:#666;}
.list_tw li.txt .lbot .qb a:hover{ color:#f00;}
.list_tw li.txt .lbot .sj{display:block; float:right;overflow:hidden;margin-right:0px;}

.zxbm {
    width: 922px;
    height: auto;
    margin: 0 auto;
    padding:0;
}
.zxbm_top {
    width: 100%;
    height: 216px;
    background: #7eba58;
}
.zxbm_top_left {
    width: 350px;
    height: 200px;
    padding: 20px 40px;
    float: left;
    color: #fff;
}
.zxbm_top_left h1 {
    font-size: 30px;
    line-height: 50px;
    display: block;
    margin: 0;
    border-bottom: 1px solid #c6e1b6;
    font-family: "微软雅黑";
    color: #fff;
    letter-spacing: 5px;
    font-weight: 500;
}
.zxbm_top_left span {
    font-size: 20px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.zxbm_top_left .pp {
    width: 350px;
    height: 80px;
    padding-top: 50px;
    font-size: 24px;
    line-height: 30px;
    font-family: "微软雅黑";
}
.zxbm_top_left .pp_b {
    color: #FF0;
}
.zxbm_top_right {
    width: 495px;
    height: 178px;
    float: right;
}
.zxbm_bottom {
    width: 835px;
    height: 480px;
    background: #fff;
    padding: 0px 50px 0px 50px;
}
.zxbm table{
    width: 467px;
}
.zxbm select {
    width: 413px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #a6a6a6;
    margin: 10px;
    color: #666;
}
.reg_name {
    text-align: right;
    color: #666;
}
.reg_text {
    width: 412px;
    line-height: 35px;
    height: 35px;
    border: 1px solid #a6a6a6;
    margin: 10px;
    padding-left: 5px;
}
.reg_red {
    color: #ff7200;
}
.bt {
    width: 257px;
    line-height: 40px;
    display: block;
    border: 0;
    background: #7eba58;
    text-align: center;
    color: #fff;
    margin: 10px;
    font-size: 20px;
    font-family: "微软雅黑";
    float: left;
    margin-left: 261px;
}
.xuesma {width:933px;height:248px;border:#D5D5D5 solid 1px;background-color:#FFF;margin:0 auto 0px;}
.jsfca {width:930px;height:242px;margin-top:6px;}
.jsfca ul {width:930px;list-style:none;text-align:center;line-height:16px;}
.jsfca ul li {width:232px;height:242px;float:left;}
.jsfca ul li.ch{width:233px;height:242px;float:left;}
.jsfca ul li a {width:232px;height:242px;}
.jsfca ul li a:hover {width:232px;height:242px;filter:Alpha(opacity=40);opacity:.8;}